body {
    background-color: #00bcd4;
    color: #b2ebf2;
    margin: 0, auto, 0, auto;
    font-family: 'Rubik', sans-serif;
}

.top {
    text-align: center;
    background-color: #d2dbda;
    color: #b9907b;
    margin: 10px;
    border: dotted;
    border-color: ghostwhite;
    border-width: 3px;
}
.Profile
{
    border-radius : 100%;
    width:40px;
    height:40px;
}
h1 {
    margin-top: 50px;
    font-family: 'Charmonman', cursive;
    font-size: 5.62rem;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 2;

}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

.second {
    font-size: 2.5rem;
    font-family: 'Strait', sans-serif;
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
}

.middle-container {
    padding: 50px;
    text-align: center;
    background-color: #d2dbda;
    color: #b9907b;
    margin: 10px;
    border: dotted;
    border-color: ghostwhite;
    border-width: 3px;


}

.container {
    margin: auto;
}

.bottom-container {
    text-align: center;
    background-color: #d2dbda;
    color: #b9907b;

    border: dotted;
    border-color: ghostwhite;
    border-width: 3px;


    padding: 10px;
    margin: 10px;


}

.ud {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #8c535b;
}

.bottom-cloud {
    position: absolute;
    left: 315px;
    bottom: 180px;
}

.top-cloud {
    position: relative;
    left: 150px;

}

.skill-row {
    width: 50%;
    margin: 100 auto;
    text-align: left;
    line-height: 2;
}

.skill {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.BUTTON_OEV {
    background: #6cd0f5;
    background-image: -webkit-linear-gradient(top, #5cb6f7, #5cb6f7);
    background-image: -moz-linear-gradient(top, #5cb6f7, #5cb6f7);
    background-image: -ms-linear-gradient(top, #5cb6f7, #5cb6f7);
    background-image: -o-linear-gradient(top, #5cb6f7, #5cb6f7);
    background-image: linear-gradient(to bottom, #5cb6f7, #5cb6f7);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    height: 10px;
    line-height: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 80px;
    font-size: 10.5px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px -1px 1px #000000;
    border: solid #95f0ed 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_OEV:hover {
    background: #0D3CFF;
    border: solid #FFFFFF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.hr {
    border-style: dotted none none none;
    width: 60px;
    border-width: 10px;

}

.footer-link {
    margin: 20px;
    text-decoration: none;

}

a:hover {
    color: azure;
}
